
/* 排序栏*/
.lt_sort {
    height: 30px;
    padding: 0px 10px;
    line-height: 30px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.lt_sort li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 14px;
}

.lt_sort li a {
    display: block;
    color: #333;
}
.lt_sort li a.now {
    color: darkorange;
}
.lt_sort li a span {
    margin: 0px 2px;
}
.lt_sort li a span:last-of-type {
    font-size: 18px;
    vertical-align: middle;
}

.loading{
    /*width: 40px;*/
    /*height: 40px;*/
    /*border: 2px solid #069;*/
    position: absolute;
    /*margin: 100px auto;*/
    /*transform: rotate(45deg);*/
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    /*transform-origin: center center;*/
    animation: play 0.8s ease-in-out infinite;
}

@keyframes play {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}